<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FunPro_CW1_12670.Dal.Properties.Settings.ConnectionString"
            connectionString="Data Source=FunPro.CW1.12670.sdf" />
    </connectionStrings>
</configuration>